<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<nav class="navbar" style="background-color: #FF8B00;">
    <a class="navbar-brand" href="/">
        <p style="color: black;font-size: 36px;margin-left: 20%;font-family: 'Poppins', sans-serif;">Q.<span style="color: white;">uinino</span></p>    
    </a>
</nav>